<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/app.css">
    <title>admin</title>
</head>

<body class="flex items-center justify-center h-screen bg-slate-800">
    <button class="w-[100px] button danger  capitalize delAll">delete all</button>

</body>

<script>
    const deletetAll = document.querySelector(".delAll")
    deletetAll.addEventListener('click', async (e) => {
        document.querySelectorAll('.added-card').forEach(e => e.remove())
        const resp = await fetch(`${window.location.href}`, {
            method: "DELETE"
        })
    })

</script>

</html>